.restaurant-result-box {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom: 10px;

  width: 100%;
  position: relative;
}

.voting-thumbs {
  display: flex;
  justify-content: center;
  gap: 5px;
  
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:100%;
  position: absolute;
  right:10;
  top:5px;
  transform: translate(-10,-50%);
  

}

h3 {
  font-weight: 400;
}

.thumb {
  cursor: pointer;
  font-size: 20px;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  gap: 5px;
}

li {
  font-size: 15px;
}

svg {
  color: red;
}

.vote-counter {
  border-radius: 50%;
  background: red;
  color: white;
  padding: 1px;
  font-size: 14px;
  margin: 0 4px;
}

.restaurant-information {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  
}



.restaurant-container {
  justify-content: center;
  gap: 24px;
  align-items: start;
  margin-top: auto;
  width: 95vw;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

}

/* Optional: Add media queries for smaller screens if needed */
@media (max-width: 768px) {
  .restaurant-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media (max-width: 576px) {
  .restaurant-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}


.restaurant-description {
}

.restaurant-image {
  width: 100%;
}

#image {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
